/* Header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #001daf;
  background-color: #70B8F0;
}

/* Logo image */
.logo img {
  height: 40px;
}

/* Search input */
.search input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}

/* Entire table */
#poketable {
  margin: 0 auto;
}

.fire { background-color: #f08030; }
.water { background-color: #6890f0; }
.grass { background-color: #78c850; }
.electric { background-color: #f8d030; color: black; }
.ice { background-color: #98d8d8; color: black; }
.fighting { background-color: #c03028; }
.poison { background-color: #a040a0; }
.ground { background-color: #e0c068; color: black; }
.flying { background-color: #a890f0; }
.psychic { background-color: #f85888; }
.bug { background-color: #a8b820; }
.rock { background-color: #b8a038; }
.ghost { background-color: #705898; }
.dragon { background-color: #7038f8; }
.dark { background-color: #705848; }
.steel { background-color: #b8b8d0; color: black; }
.fairy { background-color: #ee99ac; }
.normal { background-color: #a8a878; }

/* Card container */
.poke-card {
  width: 150px;
  min-height: 270px;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  color: #F0F0F8;
  font-size: 12px;
}


.poke-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: contain;
    background-color: rgba(93, 164, 225, 0.2);  /* Slight white tint */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

body {
  background-color: #F0F0F8;
}

.poke-name {
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  letter-spacing: 0.5px;
}

.poke-type,
.poke-abilities {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 11px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.loading-container {
    text-align: center;           /* Centers horizontally */
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;          /* Centers content */
    justify-content: center;      /* Centers vertically */
    min-height: 400px;            /* Gives space for vertical centering */
}

.loading-pokemon {
    width: 500px;                 /* Enlarged from 100px to 200px */
    display: block;               /* Makes centering work properly */
    margin: 0 auto;               /* Centers the image */
}

@keyframes bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-20px); }
}

.loading-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    background: #d7ac00;
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}


